.wrapper {
  width: 100%;
  .message-box-btn {
    position: fixed;
    width: 65px;
    right: 100px;
    bottom: 50px;
    background: inherit;
    border-radius: 0;
    border: none;
    box-shadow: none;
    padding: 0;
    scale: 1.4;
    overflow: visible;
    cursor: pointer;
  }
}
